<form (ngSubmit)="onSubmit()" #contactForm="ngForm">
  <div class="form-group">
    <label for="email">Email address</label>
    <input [(ngModel)]="message.email" #email="ngModel" type="email"
    class="form-control" id="email" aria-describedby="emailHelp" name="email" email  placeholder="Enter email" required>
    <small *ngIf="!email.valid && email.touched" id="emailHelp"
     class="form-text text-muted">Field required</small>
     <small *ngIf="email.errors && email.hasError('required')" id="emailHelp"
     class="form-text text-muted">wrong email</small>

  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input [(ngModel)]="message.password" #password="ngModel" type="password"
    class="form-control" id="password" placeholder="Password" name="password" required>
    <small *ngIf="!password.valid && password.touched" id="passwordHelp"
    class="form-text text-muted">Field required</small>
  </div>
  <div class="form-group">
    <label for="bodyPost">Body:</label>
    <textarea [(ngModel)]="message.body" #bodyPost="ngModel" name="bodyPost" id="bodyPost"
     cols="50" rows="4" minlength="5" required></textarea>
    <small *ngIf="!bodyPost.valid && bodyPost.touched" id="bodyPostHelp"
    class="form-text text-muted">Field required</small>
    <!-- <small *ngIf="bodyPost.errors && bodyPost.errors.minlength">Za krotka nazwa</small> -->
  </div>
  <div class="form-group">
    <label for="gender">Please select gender </label>
    <select name="gender" id="gender" [(ngModel)]="message.gender">
      <option *ngFor="let gen of gender" [value]="gen">{{gen}}</option>
    </select>
  </div>
  <button type="submit" [disabled]="!contactForm.valid"  class="btn btn-primary">Submit</button>
  <button type="reset" class="btn btn-primary" (click)="resetForm()">Reset</button>
</form>
