.header{
    min-height: 45vh;
    margin-bottom: 50px;
    background: no-repeat center center;
    background-image: url("https://images.pexels.com/photos/712786/pexels-photo-712786.jpeg");
    background-attachment: scroll;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;

    .container{
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

      .page-heading{
        margin-top: 20vh;
      }
    }
}
