<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div *ngIf="user; else loader">
                <app-user-data [user]="user"></app-user-data>
            </div>
        </div>
        <div class="col-sm-8">
            <div *ngIf="userId; else loader">
                <app-add-post [userId]="userId"></app-add-post>
            </div>
            <div *ngIf="userPosts; else loader">
                <app-user-all-posts-list [userPosts]="userPosts"></app-user-all-posts-list>
            </div>

        </div>
    </div>
</div>
<ng-template #loader>
    <app-loading-icon></app-loading-icon>
</ng-template>
