<div class="users-list">
  <div class="d-flex justify-content-center">
    <h1>Users List Component</h1>
    <button type="button" class="btn-success add-btn" routerLink="/addUser">addUser</button>
</div>
    <ul class="list-group">
        <div *ngIf="users$; else loadingPage">
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First name:</th>
                    <th scope="col">Last name:</th>
                    <th scope="col">Email</th>
                    <th scope="col">Gender</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users$;index as y">
                    <th scope="row">{{y+1}}</th>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.gender}}</td>
                    <button [routerLink]="['/users', user.id]">Details</button>
                      <button [routerLink]="['/editUser', user.id]">Edit</button>
                      <button (click)="deleteUser(user.id)">Delete</button>
                  </tr>
                </tbody>
              </table>
      </div>
    </ul>
  </div>

  <ng-template #loadingPage>
    <app-loading-page></app-loading-page>
  </ng-template>




