.users-list {
    margin-top: 60px;

    .user-table {
        position: relative;
        -webkit-animation-name: example;
        /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1.5s;
        /* Safari 4.0 - 8.0 */
        animation-name: example;
        animation-duration: 1.5s;
        animation-delay: -.75s;

        td,th{vertical-align: middle;}
    }

}
@-webkit-keyframes example {
    0% {
        opacity: 0.1;
    }
    // 25%  { opacity:.3}
    50% {
        opacity: 0.5;
    }
    // 75%  { opacity:.7}
    100% {
        opacity: 1;
    }
}
@keyframes example {
    0% {
        opacity: 0.1;
    }
    // 25%  { opacity:.3}
    50% {
        opacity: 0.5;
    }
    // 75%  { opacity:.7}
    100% {
        opacity: 1;
    }
}
