<button class="btn  btn-secondary" (click)="showCommentComponent()">Add comment</button>
<div *ngIf="showComponent">
    <div *ngIf="postId" class="CreateCommenttoPost#1" ngDefaultControl>
        <h5>Add comment to post #{{postId}}</h5>
        <form (ngSubmit)="onSubmit()"#contactForm="ngForm">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <label for="name" class="input-group-text">Name</label>
                </div>
                <input
                    id="name"
                    name="name"
                    type="text"
                    #name="ngModel"
                    placeholder="name"
                    [(ngModel)]="comment.name"
                    class="form-control"
                    aria-label="Small"
                    aria-describedby="nameHelp"
                    required></div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <label for="email" class="input-group-text">email</label>
                    </div>
                    <input
                        type="text"
                        name="email"
                        id="email"
                        placeholder="email"
                        [(ngModel)]="comment.email"
                        #email="ngModel"
                        class="form-control"
                        aria-label="Small"
                        aria-describedby="emailHelp"
                        required></div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <label for="commentBody" class="input-group-text">Comment</label>
                        </div>
                        <input
                            id="commentBody"
                            name="commentBody"
                            #commentBody="ngModel"
                            type="text"
                            placeholder="comment"
                            [(ngModel)]="comment.commentBody"
                            class="form-control"
                            aria-label="Small"
                            aria-describedby="commentBody"
                            required></div>

                        <button type="submit" class="btn btn-primary">Post Comment</button>
                        <button type="reset" class="btn btn-primary" (click)="resetForm()">Reset</button>
                    </form>
                </div>
            </div>
