<button class="btnBlack m-2" (click)="showAddCommentComponent()">Add comment</button>
<div *ngIf="showComponent">
    <div *ngIf="postId" class="CreateCommenttoPost#1" ngDefaultControl>
        <h5 class="m-2">Add comment to post #{{postId}}</h5>
        <form (ngSubmit)="onSubmit()"#contactForm="ngForm">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <label for="name" class="input-group-text component-form-label">Name</label>
                </div>
                <input
                    id="name"
                    name="name"
                    type="text"
                    #name="ngModel"
                    placeholder="nick"
                    [(ngModel)]="comment.name"
                    class="form-control component-form-input"
                    aria-label="Small"
                    aria-describedby="nameHelp"
                    required></div>
                <div class="input-group input-group-sm mb-3 ">
                    <div class="input-group-prepend">
                        <label for="email" class="input-group-text component-form-label">Email</label>
                    </div>
                    <input
                        type="text"
                        name="email"
                        id="email"
                        email
                        placeholder="default@gmail.com"
                        [(ngModel)]="comment.email"
                        #email="ngModel"
                        class="form-control component-form-input"
                        aria-label="Small"
                        aria-describedby="emailHelp"
                        required></div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <label for="body" class="input-group-text component-form-label">Comment</label>
                        </div>
                        <textarea
                            id="body"
                            name="body"
                            #commentBody="ngModel"
                            type="text"
                            placeholder="Write something..."
                            [(ngModel)]="comment.body"
                            class="form-control component-form-input"
                            aria-label="Small"
                            aria-describedby="commentBody"
                            required></textarea>
                          </div>

                        <button type="submit" class="btnBlack m-1" [disabled]="!contactForm.valid">Post Comment</button>
                        <button type="reset" class="btnBlack m-1" (click)="resetForm()">Reset</button>
                    </form>
                </div>
            </div>
