<div class="post-list">
  <div class="d-flex justify-content-around">
    <h1>Posts List</h1>
    <button class="btnBlack" routerLink="/addPost">Create post</button></div>
        <hr>
            <div *ngIf="userToPost.length>0; else loadingPage">
                <div class="container">
                    <div
                        class="row post-item mt-1"
                        *ngFor="let post of posts; let i = index;index as y"
                        ngDefaultControl>
                        <div class="col-sm-3">
                            <p>Post #{{y+1}}</p>
                            <hr>
                                <p>
                                    by
                                    {{userToPost[i]?.first_name}}
                                    {{userToPost[i]?.last_name}}</p>
                                <p>({{userToPost[i]?.email}})</p>
                                <hr>

                                    <img
                                        src="{{userToPost[i]?._links.avatar.href}}"
                                        alt="userPhoto"
                                        style="width: 60px; height: 60px; border: 1px solid black;">
                                        <br>
                                            <button class="btnBlack mt-2">View profile</button>

                                </div>
                                        <div class="col-sm-9">
                                            <h3>
                                                {{post.title}}</h3>
                                            <span style="font-family: Open Sans;">
                                                {{post.body}}</span>
                                            <div>
                                                <hr>
                                                        <app-comments [postId]="post.id"></app-comments>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ng-template #loadingPage>
                                    <app-loading-page></app-loading-page>
                                </ng-template>
