<app-header></app-header>
<div class="home-main-content pt-4">
    <div class="container">
        <div class="row mx-md-n5">
            <div class="col-12 col-md-8 px-md-5">
                <!-- Article -->
                <app-home-article></app-home-article>
                            <!-- Article End-->
                            <!-- Article -->
                            <app-home-article></app-home-article>
                                        <!-- Article End-->
                                        <!-- Article -->
                                        <app-home-article></app-home-article>
                                                    <!-- Article End-->
                                                </div>

                                                <div class="col-6 col-md-4 px-md-1 mb-3">
<!-- Sidebar -->
<app-home-sidebar></app-home-sidebar>
<!-- Sidebar-end -->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
