<button type="button" class="btnBlack m-1" (click)="showComments()">
    <i class="far fa-comment mr-1"></i>Comments</button>
<div *ngIf="showCommentsToUser" class="m-1">
    <div *ngIf="commentsToPost.length > 0; else noComments">
        <div class="ml-5" *ngFor="let comment of commentsToPost; let i = index">
            <div class="comment-container m-2 p-2">
                <span>
                    <i class="fas fa-user-alt mr-1"></i>{{comment.email}}</span>
                <br>
                    <span>
                        <i class="far fa-calendar-plus mr-1"></i>
                        Jul 13, 2019</span>
                    <br>
                        <span>{{comment.body}}</span>
                    </div>
                    <!-- <app-comment-elem *ngFor="let comment of commentsToPost; let i = index"></app-comment-elem> -->
                </div>
            </div>
            <div class="ml-5">
                <app-add-comment (addCommentAction)='commentSend($event)' [postId]="postId"></app-add-comment>
            </div>
        </div>
        <ng-template #noComments>
            <h3>Write first comment bro!</h3>
        </ng-template>
