<div
                    class="p-2 mb-3 article"
                    style="text-align: center; background-color: white; border: thin solid lightgray;">
                    <div class="p-2">
                        <h3 class="mt-2">Title heading</h3>
                        <h5 class="mt-2">Title description,
                            <span style="color: gray;">September 2, 2019</span>
                        </h5>
                        <img
                            src="https://images.pexels.com/photos/256381/pexels-photo-256381.jpeg"
                            alt="woman-standing-while-carrying-laptop"
                            style="width: 100%;">
                            <div style="text-align: justify;">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur
                                    laborum consequatur id provident vitae? In rerum veritatis delectus quam
                                    voluptatem a quibusdam fugit culpa ducimus. Consequatur reprehenderit error amet
                                    ratione.</p>
                                <hr>
                                    <p style="font-family: Open Sans;">Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Quo aperiam sit sequi pariatur doloribus! Error, fuga iusto
                                        labore, eos, sint dignissimos nihil nisi eius cum illum ipsa pariatur excepturi.
                                        Libero. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error iste
                                        vero magni porro adipisci eum, voluptatibus repellendus praesentium iusto
                                        molestiae quas incidunt dolorum maxime voluptatum numquam ea recusandae
                                        accusantium dolorem.
                                    </p>
                                </div>
                                <hr>
                                    <div class="d-flex justify-content-between">
                                        <button class="btnBlack">
                                            <i class="far fa-thumbs-up mr-1"></i>Like</button>
                                        <button class="btnBlack">
                                            <i class="fas fa-reply mr-1"></i>Answer</button>
                                    </div>
                                </div>
                            </div>
