<div
    class="p-2 mb-3 custom-fade-in article">
    <div class="p-2 ">
        <h3 class="mt-2">Title heading</h3>
        <h5 class="mt-2">Title description,
            <span style="color: gray;">September 2, 2019</span>
        </h5>
        <img
            src="https://picsum.photos/500/400"
            alt={{post._links.self}}
            style="width: 100%;">
            <div style="text-align: justify;">
                <p>{{post.title}}</p>
                <p style="font-family: Open Sans;">{{post.body}}}</p>
            </div>
            <hr>
                <div class="d-flex justify-content-between ">
                    <button class="btnBlack">
                        <i class="far fa-thumbs-up mr-1"></i>Like</button>
                    <a class="btnBlack" routerLink="/posts/{{post.id}}">
                        <i class="fas fa-reply mr-1"></i>Answer</a>
                </div>
            </div>
        </div>
